[submodule "submodules/zydis"]
	path = submodules/zydis
	url = https://github.com/zyantific/zydis
[submodule "submodules/fmt"]
	path = submodules/fmt
	url = https://github.com/fmtlib/fmt
[submodule "submodules/spdlog"]
	path = submodules/spdlog
	url = https://github.com/gabime/spdlog
